body {
  background-color: #121212;
  color: white;
  font-family: "Cairo", sans-serif;
  margin: 0;
}

.custom-navbar {
  background: linear-gradient(to right, #111, #222);
  padding: 15px;
}

.nav-link-custom {
  color: white !important;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: #f39c12 !important;
}

.search-input {
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
}

.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
